## Pre-commit setup, mostly yoinked from disnake/mafic

ci:
  autofix_commit_msg: |
    style: auto fixes from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
        name: Check if python files are valid syntax for the ast parser
      - id: check-case-conflict
        name: Check for case conflict on file names for case insensitive systems.
      - id: check-merge-conflict
        name: Check for merge conflict syntax.
      - id: check-toml
        name: Check TOML files for valid syntax.
      - id: check-yaml
        name: Check YAML files for valid syntax.
      - id: debug-statements
        name: Check for debug statements.
      - id: end-of-file-fixer
        name: Check for only one newline character at EOL.
      - id: trailing-whitespace
        name: Check for trailing whitespace.
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --config, pyproject.toml]
        name: Running ruff in all files.
      - id: ruff-format
        args: [--config, pyproject.toml]

  - repo: https://github.com/ariebovenberg/slotscheck
    rev: v0.19.1
    hooks:
    - id: slotscheck
      entry: env PYTHONPATH=src slotscheck
      language: system
      exclude: "^(?!src/)"
      args: ["--verbose", "--require-subclass"]
